.CitySearch{
  position: relative;
}
.city-search{
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333333;
  width: 100%;
  transition: all 500ms;
  color: white;
}
.city-search:focus{
  border-bottom: 1px solid #e2d36b;
}
.suggestions{
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 55px;
  background-color:#444444;
  z-index: 10000;
  border-radius: 0 0 5px 5px;
}
.suggestions li{
  transition: all 300ms;
  padding-left: .5rem;
}
.suggestions li:hover{
  cursor: pointer;
  transform: scale(1.005);
}