.event{
  position: relative;
  background-color: #333333;
}
.event-location{
  font-size: .8rem;
}
.location-icon{
  top: 2.5px;
}



.toggle-details{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
  color: #e2d36b;
  font-size: .9rem;
}
