@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App{
  max-height: 100vh;
  color: white;
}

.container{
  position: relative;
}

.charts-section{
  background-color: #333333;
}

.events-section{
  background-color: #222222;
}