@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App{
  color: white;
  position: relative;
}

.container{
  position: relative;
}
.body{
  height: 90vh;
}

.charts-section{
  background-color: #333333;
}

.events-section{
  background-color: #222222;
}